section.hero {
    background-color: var(--background);
    padding-top: 12rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text > *{
    margin-bottom: 1rem;
    color: var(--foreground);

}

.hero-text p {
    font-size: 18px;
}

.btn-p {
    background-color: var(--foreground);
    color: var(--background);

}

